@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../public/fira-sans-400.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(../public/fira-sans-800.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Fira Sans', 'Liberation Sans', 'Helvetica', sans-serif;
    background-color: var(--bg-color);
}

a {
    color: var(--color);
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: black;
        --color: white;
        --invert-color: black;
        --invert-bg-color: white;
        --shadow-color: #FFF6;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: white;
        --color: black;
        --invert-color: white;
        --invert-bg-color: black;
        --shadow-color: #0006;
    }
}

@media (max-height: 650px) {
    :root {
        --header-height: 8.2vh;
        --footer-height: 8vh;
    }
}

@media (max-height: 850px) {
    :root {
        --header-height: 6vh;
        --footer-height: 6vh;
    }
}

@media (min-height: 850px) {
    :root {
        --header-height: 4vh;
        --footer-height: 4vh;
    }
}

:root {
    --padding: 0.2rem;
    --large-padding: 0.4rem;
    --xl-padding: calc(3 * var(--large-padding));

    --large-font-size: 2rem;
    --medium-font-size: 1.5rem;
    --small-font-size: 1.1rem;
}