@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fira-sans-400.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/fira-sans-800.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

* , *:before, *:after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Fira Sans', 'Helvetica', sans-serif;
    overflow: hidden;
    background-color: var(--bg-color);
}

a {
    color: var(--color);
    text-decoration: none;
}

h1,
h2 {
    margin: 0.6rem 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: black;
        --color: white;
        --invert-color: black;
        --invert-bg-color: white;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: white;
        --color: black;
        --invert-color: white;
        --invert-bg-color: black;
    }
}

@media (max-height: 600px) {
    :root {
        --header-height: 8vh;
        --footer-height: 8vh;
    }
}

@media (min-height: 600px) {
    :root {
        --header-height: 6vh;
        --footer-height: 8vh;
    }
}

:root {
    --padding: 0.2rem;
    --large-padding: 0.4rem;
}